@model AuctionSystem.Web.ViewModels.CreateCategoryViewModel

<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="createForm" method="post" action="@Url.Action("Create", "Category")">

    <div class="modal-body">

        <div class="form-group">
            <label for="name">Name</label>
            <input name="Name" class="form-control" placeholder="Enter Name">
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <input name="Description" class="form-control" placeholder="Enter Description">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn-success" type="button" id="saveButton">Save</button>
    </div>

</form>


<script>
    $("#saveButton").click(function () {
        debugger;

        $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Category")',
                data: $("#createForm").serialize()
            })
            .done(function(response) {

                $('#formModal').modal('toggle');
                $("#listingArea").html(response);
            });
    });
</script>
